!!!
%html
  %head
    %link{:href=>'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold',:rel=>'stylesheet', :type=>'text/css'}    
    %link{:href => "/css/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
    /[if lt IE 8]
      <link href="/public/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />

    %link{:href => "/index.xml", :rel => "alternate", :title => "#{title} - feed", :type => "application/atom+xml"}
    %link{:href => "/archives/", :rel => "archives", :title => "#{title} - archives", :type => "text/html"}
    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    
    %title= title
    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js", :type => "text/javascript"}
    - unless ENV['RACK_ENV'] == 'production'
      :javascript
        var disqus_developer = 1;

  %body{:class => "bp one-col #{"index" if @path == 'index'}"}
    #container
      %header#header
        %h1
          %a{:href => "/"} Will you Harry Me?
        %nav
          %a{:href => "/about"} the man
          %a{:href => "/code"} his code
          %a{:href => "/archives"} archives
          %p |
          %a{:href => "mailto:harry.brundage@gmail.com"} email
          %a{:href => "http://twitter.com/harrybrundage"} twitter
          %a{:href => "http://github.com/hornairs"} github
      %section#content
        = yield
      %footer
        powered by
        %a{:href => "http://cloudhead.io/toto"} toto
        |
        %a{:href => "https://github.com/hornairs/blog"} source
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        try {
          var pageTracker = _gat._getTracker("UA-15787846-1");
          pageTracker._trackPageview();
        } catch(err) {}
      #footer

